<footer>
    <div class="footer-container">
        <div class="footer-main">
            <ul class="footer-list">
                <li><a href="https://github.com/CronixYT" id="github" target="_blank"><i class="fab fa-github"></i></a></li>
                <li>
                    <a href="https://www.youtube.com/channel/UCbD8Ja5vazNzgrUgypU53jQ" id="youtube" target="_blank"><i
                            class="fab fa-youtube"></i></a>
                </li>
            </ul>
            <p class="lead">Copyright &copy; Cronix All Rights Reserved</p>
        </div>
    </div>
</footer>