<section class="container main-grid">
    <div class="row">
        <div class="col-lg-4">
            <div class="card h-100">
                <img class="card-img-top img-fluid" src="/assets/images/bg.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">RJ123456</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                        the card's content.</p>

                </div>
                <div class="m-3"><small class="text-primary">SFW</small></div>
                <div class="m-2"><a href="#" class="btn btn-primary btn-block">Click Here</a></div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card h-100">
                <img class="card-img-top img-fluid" src="/assets/images/bg2.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">RJ123456</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                        the card's content.</p>
                </div>
                <div class="m-3"><small class="text-danger">NSFW</small></div>
                <div class="m-2"><a href="#" class="btn btn-primary btn-block">Click Here</a></div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card h-100">
                <img class="card-img-top img-fluid" src="/assets/images/bg2.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">RJ123456</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                        the card's content.</p>
                </div>
                <div class="m-3"><small class="text-danger">NSFW</small></div>
                <div class="m-2"><a href="#" class="btn btn-primary btn-block">Click Here</a></div>
            </div>
        </div>
    </div>
</section>