{{> header }}

<body>
    <header>
        <div class="jumbotron j-1">
            <div class="container">
                <h1 class="display-4 mb-3">HVDB &mdash; About Us</h1>
                <a href="/" class="mybtn mybtn-ghost lead">Home</a>
            </div>
        </div>
    </header>

    <section class="container">
        <h1>Hello World</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem ipsum earum impedit id quia perferendis
            harum autem voluptate quis aliquam totam ducimus asperiores sit dolor assumenda itaque, facilis aperiam
            ipsam!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam nobis, totam facilis reprehenderit harum ea
            officiis incidunt qui. Cum officia unde dignissimos pariatur sunt quaerat vero quae enim. Recusandae
            doloremque aspernatur sit quia, sequi adipisci consequatur voluptas, neque deserunt fuga blanditiis culpa
            consequuntur doloribus, laudantium iste aperiam ipsam nam. Ducimus!</p>
    </section>

    {{> footer }}

</body>

</html>