{{> header }}

<body>
    <header>
        <div class="jumbotron j-1">
            <div class="container">
                <h1 class="display-4 mb-3">HVDB &mdash; Voice Collection</h1>
                <a href="/account/register" class="mybtn mybtn-full lead mr-3">Sign Up</a>
                <a href="/about" class="mybtn mybtn-ghost lead">Learn More</a>
            </div>
        </div>
    </header>
    {{> grid }}
    <section class="container text-center">
        <h4 class="my-font">Already have an account? <a href="/account/login">Login</a> here!</h4>
    </section>
    {{> footer }}
</body>

</html>